body {
    background: #10151C
}

/* General Landing Page Layout */
.Landing {
    margin: 0 10vw 0 10vw;
}

/* Hero Backdrop */

.HeroBackdrop {
    margin-top: 10vh;
    margin-bottom: 10vh;

    width: 400vw;
    height: 55vh;
    background: linear-gradient(180deg, #432371 0%, #FAAE7B 100%);
    border-radius: calc(1% + .5vw);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5vh;
}

/* Hero Animation */
@keyframes SlideInFromBottom {
    0% {
        transform: translateY(80px);
        opacity: 0.0;
    }
    100% {
        transform: translateY(0);
        opacity: 1.0;
    }
}

.HeroAnimation {
    animation-name: SlideInFromBottom;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.HeroBackdropContent {
    width: 26vw;
    height: 15vh;
    background: #141A25;
    border-radius: 16px;
}

@media (max-width: 1000px) {

    /* General Landing Page Layout */
    .Landing {
        margin: 0 6vw 0 6vw;
    }

    /* Hero */
    .HeroBackdrop {
        width: 100%;
        height: 60vh;
        min-height: 560px;
    }

    .HeroBackdropContent {
        width: 85%;
        background: #141A25;
    }
}