@media (max-width: 1000px) {

    /* General Landing Page Layout */
    .Landing {
        margin: 0 6vw 0 6vw;
    }

    /* Headline Layout*/
    .LandingHeadline {
        margin: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    /* Hero */
    .HeroBackdrop {
        width: 100%;
        height: 60vh;
        min-height: 560px;
    }

    .HeroBackdropContent {
        width: 85%;
        background: #141A25;
    }

    .HeroPaymentHistory {
        margin-left: 27px;
        margin-right: 0;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .HeroPaymentHistoryLargeText {
        font-size: 14px;
        white-space: nowrap;
        margin-right: 12px;
    }

    #NoMobile {
        width: 0 !important;
        height: 0 !important;
        opacity: 0 !important;
        font-size: 0 !important;
    }

    #HeroProfileFeatures {
        padding: 4px 10px 4px 10px;

        font-size: 14px;
        color: white;
        background-color: #FA0369;
        border-radius: 20px;
        white-space: nowrap;
    }

}