@media (max-width: 1000px) {

    /* General Landing Page Layout */
    .Landing {
        margin: 0 6vw 0 6vw;
    }

    /* Headline Layout*/
    .LandingHeadline {
        margin: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    .LandingHeadlineText {
        width: 90%;
    }

    /* Header Text and Subtext */
    .LandingHeader {
        margin: 10vh 0 0 0;
        font-size: calc(100% + 6vw);
    }

    .LandingText {
        font-size: calc(100% + 1vw);
    }

    /* Landing Buttons */
    .LandingPrimaryButton {
        width: 50vw;
        height: 6vh;
        min-height: 55px;
    }

    .LandingPrimaryButtonText {
        font-size: calc(100% + 1vw);
    }

    .LandingButtons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Testimonial */
    .LandingTestimonial {
        margin-top: 10vh;
        width: 100%;
    }

    /* Hero */
    .HeroBackdrop {
        width: 100%;
        height: 60vh;
        min-height: 560px;
    }

    .HeroBackdropContent {
        width: 85%;
        background: #141A25;
    }

    .HeroProfileImage {
        margin-left: 4.4vw;
    }

    .HeroProfileName {

    }

    .HeroProfileEmail {
        font-size: 14px;
    }

    .HeroFinanceLargeText {
        margin-top: 20px;

        font-size: 18px;
    }

    .HeroFinanceSmallText {
        margin-top: 16px;

        font-size: 12px;
    }

    .HeroPaymentHistoryLargeText {
        font-size: 14px;
        white-space: nowrap;
        margin-right: 12px;
    }

}