body {
    background: #10151C
}

/* General Landing Page Layout */
.Landing {
    margin: 0 10vw 0 10vw;
}

/* Headline Layout*/
.LandingHeadline {
    /* Margins */
    margin-top: 10vh;

    display: flex;
    justify-content: center;
    gap: 15vw;
    align-items: center;
}

/* Header Text and Subtext */
.LandingHeader {
    color: white;
    margin: 18vh 0 0 0;
    font-size: calc(100% + 3vw);
}

.LandingText {
    color: gray;
    margin-top: 2vh;
    font-size: calc(10% + 1vw);
}

/* Landing Buttons */
.LandingButtons {
    /* Margins */
    margin-top: 3vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.LandingPrimaryButton {
    /* Shape */
    height: 5vh;
    width: 12vw;
    border-radius: calc(.5% + .5vw);
    border-width: 0px;

    /* Aligning Children */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Styling */
    background: rgb(58, 180, 133);
    background: linear-gradient(90deg, rgba(58, 180, 133, 1) 0%, rgba(29, 190, 253, 1) 100%);
}

.LandingPrimaryButtonText {
    color: white;
    font-weight: bold;
    font-size: 1vw;
}

.LandingSecondaryButton {
    /* Shape */
    height: 5vh;
    width: 12vw;
    border-radius: calc(.5% + .5vw);
    border-width: 0px;

    /* Aligning Children */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Styling */
    background: #2f2f2f;

}

.LandingSecondaryButtonText {
    color: white;
    font-weight: bold;
    font-size: 1vw;
}

/* Hero Image */
.HeroImage {
    margin-top: 10vh;
}
