@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    background: #10151C
}

/* General Landing Page Layout */
.Landing {
    margin: 0 10vw 0 10vw;
}

/* Headline Layout*/
.LandingHeadline {
    /* Margins */
    margin-top: 10vh;

    display: flex;
    justify-content: flex-start;
    gap: 15vw;
    text-align: left;
}

.LandingHeadlineText {
    width: 50%;
}

/* Header Text and Subtext */
.LandingHeader {
    color: white;
    margin: 18vh 0 0 0;
    font-size: 48px;
}

.LandingText {
    color: #7E8597;
    margin-top: 2vh;
    font-size: 21px;
}

/* Landing Buttons */
.LandingButtons {
    /* Margins */
    margin-top: 3vh;

    display: flex;
    align-items: center;
    gap: 1vw;
}

.LandingPrimaryButton {
    /* Shape */
    height: 5vh;
    width: 178px;
    border-radius: calc(.5% + 10vw);
    border-width: 0;

    /* Aligning Children */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Styling */
    background: #2663FF
}

.LandingPrimaryButtonText {
    color: white;
    font-size: 18px;
}

.LandingSecondaryButton {
    /* Shape */
    height: 5vh;
    width: 12vw;
    border-radius: calc(.5% + .5vw);
    border-width: 0;

    /* Aligning Children */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Styling */
    background: #2f2f2f;

}

.LandingSecondaryButtonText {
    color: white;
    font-weight: bold;
    font-size: 1vw;
}

.LandingTestamonial {
    margin-top: 4vh;

    width: 33vw;
    height: auto;
    background: #141A25;
    border-radius: 16px;
}

.LandingTestamonialContent {
    display: flex;
}

.LandingTestamonialText {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;

    color: #7E8597;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    text-align: left;

}

/* Hero Image */
.HeroImage {
    margin-top: 10vh;
}

.HeroBackdrop {
    margin-top: 10vh;

    width: 400vw;
    height: 55vh;
    background: linear-gradient(180deg, #432371 0%, #FAAE7B 100%);
    border-radius: calc(1% + .5vw);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5vh;
}

.HeroBackdropContent {
    width: 26vw;
    height: 15vh;
    background: #141A25;
    border-radius: 16px;
}