body {
    background: #10151C
}

/* General Landing Page Layout */
.Landing {
    margin: 0 10vw 0 10vw;
}

/* Headline Layout*/
.LandingHeadline {
    /* Margins */
    margin-top: 10vh;

    display: flex;
    justify-content: flex-start;
    gap: 15vw;
    text-align: left;
}

.LandingHeadlineText {
    width: 50%;
}

/* Header Text and Subtext */
.LandingHeader {
    color: white;
    margin: 18vh 0 0 0;
    font-size: calc(100% + 2vw);
}

.LandingText {
    color: #7E8597;
    margin-top: 2vh;
    font-size: calc(10% + 1vw);
}

/* Landing Buttons */
.LandingButtons {
    /* Margins */
    margin-top: 3vh;

    display: flex;
    align-items: center;
    gap: 1vw;
}

.LandingPrimaryButton {
    /* Shape */
    height: 5vh;
    width: 10vw;
    border-radius: calc(.5% + 10vw);
    border-width: 0;

    /* Aligning Children */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Styling */
    background: #2663FF
}

.LandingPrimaryButtonText {
    color: white;
    font-size: 1vw;
}

.LandingSecondaryButton {
    /* Shape */
    height: 5vh;
    width: 12vw;
    border-radius: calc(.5% + .5vw);
    border-width: 0;

    /* Aligning Children */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Styling */
    background: #2f2f2f;

}

.LandingSecondaryButtonText {
    color: white;
    font-weight: bold;
    font-size: 1vw;
}

/* Hero Image */
.HeroImage {
    margin-top: 10vh;
}

.HeroBackdrop {
    width: 40vw;
    height: 55vh;
    background: linear-gradient(180deg, #432371 0%, #FAAE7B 100%);
    border-radius: calc(1% + .5vw);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5vh;
}

.HeroBackdropContent {
    width: 25vw;
    height: 15vh;
    background: #141A25;
    border-radius: calc(1% + .5vw);
}