/* Testimonial */
.LandingTestimonial {
    margin-top: 4vh;

    width: 33vw;
    height: auto;
    background: #141A25;
    border-radius: 16px;
}

.LandingTestimonialContent {
    display: flex;
}

.LandingTestimonialImage {
    width: 8vh;
    height: 8vh;
    border-radius: 100%;
    object-fit: cover;
    margin-top: 20px;
    margin-left: 30px;
}

.LandingTestimonialText {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;

    color: #7E8597;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    text-align: left;

}

@media (max-width: 1000px) {

    /* Testimonial */
    .LandingTestimonial {
        margin-top: 10vh;
        width: 100%;
    }

}