.FourFeaturesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 180px;
}

/* Text */
.FourFeaturesContentAlignment {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 10px;
}

.FourFeatureTextAlignment {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.FourFeaturesNumber {
    font-family: 'DM Sans', regular, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #777F93;
    opacity: 40%;
}

.FourFeaturesHeader {
    font-family: 'DM Sans', regular, sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
}

.FourFeaturesText {
    font-family: 'DM Sans', regular, sans-serif;
    font-size: 18px;
    color: #7E8597;
}

/* Images */
.FourFeaturesImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.FourFeaturesImageBackground {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 34vw;
    min-height: 450px;
    width: 34vw;
    min-width: 450px;

    border-radius: 100%;
    background: linear-gradient(180deg, #432371 0%, #FAAE7B 100%);
}

.FourFeaturesInvoiceDetails1 {
    height: 34vw;
    min-height: 500px;
    width: 22vw;
    min-width: 300px;

    border-radius: 15px;
    background: #141A25;
    box-shadow: 0 0 40px -20px rgba(0, 0, 0, 0.53);

    transform: rotate(4deg);
    transform-origin: bottom right;
}

.FourFeaturesInvoiceDetails2 {
    height: 34vw;
    min-height: 500px;
    width: 22vw;
    min-width: 300px;

    border-radius: 15px;
    background: #141A25;
    box-shadow: 0 0 40px -20px rgba(0, 0, 0, 0.53);

    transform: rotate(4deg);
    transform-origin: bottom right;
}

.FourFeaturesInvoiceDetails3 {
    height: 34vw;
    min-height: 500px;
    width: 22vw;
    min-width: 300px;

    border-radius: 15px;
    background: #141A25;
    box-shadow: 0 0 40px -20px rgba(0, 0, 0, 0.53);

    transform: rotate(-6deg);
    transform-origin: bottom right;
}

/* Invoice Detail Text and Image */
.FourFeaturesInvoiceText {
    font-size: 20px;
    font-weight: 500;
    font-family: 'DM Sans', regular, sans-serif;
    color: white;

    padding-top: 40px;
}

.FourFeaturesInvoiceSmallText {
    font-size: 18px;
    font-weight: 400;
    font-family: 'DM Sans', regular, sans-serif;
    color: #6A7183;

    padding-top: 10px;
    margin-bottom: -55px;
}

.FourFeaturesProfilePicture {
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 0;
}

@media (max-width: 1000px) {
    .FourFeaturesContainer {
        display: flex;
        flex-direction: column-reverse;
        gap: 200px;
        margin-bottom: 180px;

        text-align: center;
        align-items: center;
    }

    .FourFeaturesImageBackground {
        min-width: 87vw;
        min-height: 87vw;
    }

    .FourFeaturesInvoiceDetails1 {
        min-height: 90vw;
        min-width: 60vw;
    }

    .FourFeaturesInvoiceDetails2 {
        min-height: 90vw;
        min-width: 60vw;
    }

    .FourFeaturesInvoiceDetails3 {
        min-height: 90vw;
        min-width: 60vw;
    }

    .FourFeaturesNoMobile {
        display: none;
    }
}