.DashboardPickerContainer {
    /* Container Shape */
    height: 6vh;
    width: 11.725vw;

    /* Containg Spacing */
    margin-top: 4vh;
    margin-bottom: 3vh;

    /* Container Coloring */
    background-color: #3a3a3a;

    /* Container Styling */
    border-radius: 10px;
}

hr.divider {
    background: #252525 no-repeat;
    border: 0;
    height: 0.1vh;
    width: 100%;
}

.DashboardHeader {
    /* Text Spacing */
    margin: 0;
    display: flex;
    align-items: flex-start;
    text-align: left;

    /* Text Styling */
    font-size: 0.7vw;
    color: #fff;
    white-space: nowrap;
}

.DashboardSubheader {
    margin: 0;
    display: flex;
    align-items: center;
}

.DashboardPickerImage {
    border-radius: 50%;
    object-fit: cover;
    height: 1.8vw;
    width: 1.8vw;
    margin-right: .8vw;
}

.DashboardPickerFragments {
    /* Item Spacing */

    /* Element Spacing */
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;

    /* Text Coloring */
    color: #fff;
}

.DashboardFragmentsSeparate {
    display: inline-flex;
    align-items: flex-start;

    /* Element Margins */
    margin-top: 1.4vh;
}