.SearchContainer {
    /* Container Shape */
    height: 5vh;
    width: 12vw;

    /* Container Spacing */
    margin-top: 2vh;

    /* Container Coloring */
    background-color: #171717;

    /* Container Styling */
    border-radius: 15px;
}

.SearchContainerFragments {
    /* Container Shape */
    height: 100%;

    /* Alining Elements */
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-left: 1.2vw;
    margin-right: 1.2vw;
}

p {
    margin-left: .5vw;
    font-size: .8vw;
    font-weight: 100;
    color: #858585;
}