.ProfileContainer {
  /* Container Shape */
  height: 8vh;
  width: 100%;

  /* Container Spacing */
  margin-top: 1vh;
  margin-bottom: 3vh;

  /* Container Coloring */

  /* Container Styling */
  border-radius: 10px;

  display: inline-flex;
  align-items: center;
  align-content: center;
  text-align: center;
}

.ProfileFragments {
  /* Item Spacing */
  width: 10vw;

  /* Element Spacing */
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  text-align: center;

  /* Element Margins */
  margin-right: 2vw;

  /* Text Coloring */
  color: #fff;
}

.ProfileFragmentsSeperate {
  display: inline-flex;
  align-items: center;
  align-content: center;
  text-align: center;
}

p {
  color: #fff;
  white-space: nowrap;
}

hr.divider {
  background: #252525 no-repeat;
  border: 0;
  height: 0.1vh;
  width: 100%;
}

img {
  border-radius: 50%;
  object-fit: cover;
  height: 2.5vw;
  width: 2.5vw;
  margin-right: 1vw;
}
